@model WebApplication1.Models.BOOK_DISH

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>BOOK_DISH</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name_dish)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name_dish)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.time_pr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.time_pr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.calories)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.calories)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imageData)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imageData)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COOKING_METHOD.name_method)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COOKING_METHOD.name_method)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CUISINE_NATIONAL.name_cuisine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUISINE_NATIONAL.name_cuisine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CUISINE_TYPE.name_cuisine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUISINE_TYPE.name_cuisine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TYPE_DISH.name_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TYPE_DISH.name_type)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
