@model WebApplication1.Models.BOOK_DISH

@{
    ViewBag.Title = "Details";
}



<div>
    <h2>@Html.DisplayFor(model => model.name_dish)</h2>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            <label class="control-label ">Время приготовления</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.time_pr) мин
        </dd>

        <dt>
            <label class="control-label ">Каллорийность</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.calories) ккал
        </dd>

        <dt>
            <label class="control-label ">Фото</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imageData)
        </dd>

        <dt>
            <label class="control-label ">Метод приготовления</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COOKING_METHOD.name_method)
        </dd>

        <dt>
            <label class="control-label ">Кухня</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUISINE_NATIONAL.name_cuisine)
        </dd>

        <dt>
            <label class="control-label ">Категория</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUISINE_TYPE.name_cuisine)
        </dd>

        <dt>
            <label class="control-label ">Тип блюда</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TYPE_DISH.name_type)
        </dd>

    </dl>
    
    
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.C_id_dish }) |
    @Html.ActionLink("Back to List", "Index")
</p>
