@model WebApplication1.Models.BOOK_DISH

@{
    ViewBag.Title = "Edit";
}




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h2>Изменить рецепт "@Html.DisplayFor(model => model.name_dish)"</h2>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.C_id_dish)

        <div class="form-group">
            <label class="control-label col-md-2">Наименование блюда</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.name_dish, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.name_dish, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Время приготовления</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.time_pr, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.time_pr, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Кухня</label>
            <div class="col-md-10">
                @Html.DropDownList("C_id_cuisine_national", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.C_id_cuisine_national, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Метод приготовления</label>
            <div class="col-md-10">
                @Html.DropDownList("C_id_cooking_method", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.C_id_cooking_method, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Тип блюда</label>
            <div class="col-md-10">
                @Html.DropDownList("C_id_type_dish", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.C_id_type_dish, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Категория</label>
            <div class="col-md-10">
                @Html.DropDownList("C_id_cuisine_type", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.C_id_cuisine_type, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Каллории</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.calories, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.calories, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Фото</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.imageData, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.imageData, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
