@model IEnumerable<WebApplication1.Models.BOOK_DISH>

@{
    ViewBag.Title = "Index";
}

<h2>Список рецептов</h2>

<p>
    @Html.ActionLink("Добавить новый рецепт", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <label>Наименование блюда</label>
        </th>
        <th>
            <label>Время приготовления</label>
        </th>
        <th>
            <label>Каллории</label>
        </th>
        <th>
            <label>Фото</label>
        </th>
        <th>
            <label>Способ приготовления</label>
        </th>
        <th>
            <label>Кухня</label>
        </th>
        <th>
            <label>Категория</label>
        </th>
        <th>
            <label>Тип блюда</label>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name_dish)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.time_pr ) мин
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.calories)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.imageData)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.COOKING_METHOD.name_method)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CUISINE_NATIONAL.name_cuisine)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CUISINE_TYPE.name_cuisine)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TYPE_DISH.name_type)
        </td>
        <td>
            @Html.ActionLink("Изменить", "Edit", new { id=item.C_id_dish }) |
            @Html.ActionLink("Получить сведения", "Details", new { id=item.C_id_dish }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.C_id_dish })
        </td>
    </tr>
}

</table>
