@model IEnumerable<WebApplication1.Models.RECIPE>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.kol)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BOOK_DISH.name_dish)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.INGREDIENT.name_ingredient)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.kol)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BOOK_DISH.name_dish)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.INGREDIENT.name_ingredient)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.C_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.C_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.C_id })
        </td>
    </tr>
}

</table>
